@{
    ViewData["Title"] = "Home Page";
}


<!doctype html>
<html lang="en">
<head>
    <title>Apie</title>

    <style type="text/css">

 .form-signin { }

 .form-label-group { }
    </style>
</head>
<body>

</body>
</html>