@{
    ViewData["Title"] = "Authentication";
}
<!doctype html>
<html lang="lt">
<head>
    <title>Prisijungimas</title>
</head>
<body>
<form method="post" id="authenticate">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Prisijungimas</h1>
        <p> 1. Įveskite savo slapyvardį </p>
        <p> 2. Spauskite prisijungimo mygtuką </p>
        <p> 3. Atlikite naršyklės prašomus veiksmus </p>
    </div>

    <input type="text" id="inputID" class="form-control" placeholder="Slapyvardis" name="username" required autofocus>
    <label for="inputID">Slapyvardis</label>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Prisijungti</button>
</form>
</body>
</html>

<script src="~/js/authentication.js" asp-append-version="true"></script>
<script src="~/js/commonFunctions.js" asp-append-version="true"></script>