@{
    ViewData["Title"] = "Registration";
}
<!doctype html>
<html lang="en">
<head>
    <title>Registration</title>

    <style type="text/css">
        
        </style>
</head>
<body>
<form method="post" id="register">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Registracija</h1>
        <p> Steps </p>
    </div>

    <input type="text" id="inputID" class="form-control" placeholder="Slapyvardis" name="username" required autofocus>
    <label for="inputID">Slapyvardis</label>

    <input type="text" id="inputDisplayName" class="form-control" placeholder="Vartotojo vardas" name="displayName" required>
    <label for="inputDisplayName">Vartotojo vardas</label>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registruotis</button>
</form>
</body>
</html>

<script src="~/js/registration.js" asp-append-version="true"></script>
<script src="~/js/commonFunctions.js" asp-append-version="true"></script>